;local Verdaccio registry, install verfaccio globally and run it, default port is 4873
#registry=http://localhost:4873
#always-auth=false
; Fallback to the original npm registry if the package isn't found locally
@npm:registry=https://registry.npmjs.org/